.player {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 180px;
  margin-bottom: 200px;
}

.details {
  position: relative;
  text-align: center;
  top: 110%;
  left: -85%;
  color: $color-grey;
  font-size: 19px;
  font-weight: $font-semibold;
  width: 550px;
}

.song-categories {
  position: absolute;
  left: -50%;
  font-weight: 400;
  letter-spacing: 2px;
  white-space: nowrap;
}

.song-ranking {
  position: relative;
  right: -150%;
  font-weight: 400;
  letter-spacing: 2px;
  white-space: nowrap;
}

.song-name {
  position: absolute;
  top: -110%;
  right: 50%;
  transform: translate(50%, -50%);
  white-space: nowrap;
  font-size: 30px;
  font-weight: $font-semibold;
  letter-spacing: 2px;
}

.green-audio-player {
  width: 550px !important;
  height: 70px !important;

  .slider {
    width: 320px;

    .gap-progress {
      background-color: $color-red !important;
    }

    .progress__pin {
      background-color: $color-red !important;
    }
  }

  .volume {

    .volume__button {

      &.open {

        path {
          fill: $color-red !important;
        }
      }
    }

    .volume__pin {
      background-color: $color-red !important;
    }
  }
}